<div class="col-md-6 col-md-offset-2">
  <h3>A to Z Soltions </h3>
  <br/>
  <p> As the name implies provides complete turnkey It solutions to its customers. With successful<br> presence in the kingdom we have gained respect and recognition from all our clients, and <br> our reputation in the market remains unprecedented.We have
      developed a distinctive capability<br> to integrate IT Solutions from all three domains,hardware ,software and networking to bring <br> forth high-end cost effective and reliable solutions for our customers.We offer a wide range <br> of business
      critical solutions which will enhance the business performance of our customers <br> like Enterprice Resource Planning application,software development and network optimization.</p>

</div>
<a class="text-right" [routerLink]="['/login']">
  <h3>Login..</h3>
</a>